body {background-color: yellow;}

.container-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.pot {
    display: flex;
    width: 150px;
    height: 200px;
    justify-content:center;
    margin-left: 35px;
}

.teks1 {
    width: 600px;
    height: 100px;
    margin: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;

}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgoldenrod;
    font-size: 35px;
    margin-left: 10px;
    width: 1000px;
}


.gambar {
    display: flex;
    justify-content:center;
    margin: 10px;
}

.paragraf {
    display: flex;
    font-size: 25px;
    margin-top: 60px;
    color: #F1F1F1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.p1 {
    background-color: darkblue;
    color: #F1F1F1;
    height: 50px;
    text-align: center;
    font-size: 45px;
}

.p2 {
    margin-left: 15px;
    color: brown;
}

.p3 {
    margin-left: 15px;
    color:  purple;
}

.p4 {
    margin-left: 15px;
    font-size: 45px;
    color: red;
    text-shadow: 15px;
}
.footer {
    background-color: darkblue;
    text-align: center;
    align-items: flex-end;
    padding: 100px;
    color: #F1F1F1;
    font-size: 55px;
    gap: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifss;
  }

  .button:hover {
      background-color: orangered;
  }