body {background-color: skyblue; }

#nama {
    font-family: 'Times New Roman', Times, serif;
    font-style: bold italic;
    color: green;
}

.menu {
    display: flex;
    justify-content: right;
}

.container {
    color: blue;
    margin: 20px;
}

.box0{
    width: 200px;
    height: 200px;
    background: red;
    margin: 10px;
    text-align: center;
    line-height: 200px;
    color: #fff;
}

.box1{
    width: 550px;
    height: 200px;
    background: red;
    margin: 10px;
    text-align: center;
    line-height: 200px;
    color: #fff;
}

.box2{
    width: 500px;
    height: 200px;
    background: red;
    margin: 10px;
    text-align: center;
    line-height: 200px;
    color: #fff;
}

.box3{
    width: 100px;
    height: 200px;
    background: red;
    margin: 10px;
    text-align: center;
    line-height: 200px;
    color: #fff;
}

.boxs{
    display: flex;
}